@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss';

$link-color: #6a6a6a;
$link-hover-color: #4c4c4c;

header {
    height: 80px;
    color: $link-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        &:hover {
            color: $link-hover-color;
        }
    }
}

.logo {
    font-weight: bold;
    font-size: 25px;

    &:hover {
        text-decoration: none;
    }
}

.sign-up {
    font-size: 15px;

    &:hover {
        text-decoration: underline;
    }
}